include LICENSE
include nitter_scraper/templates/nitter.conf
include *.in
include *.lock
include *.py
include *.txt
include *.yml
include Makefile
recursive-include docs *.md
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include examples *.md
recursive-include examples *.py
recursive-include tests *.html
recursive-include tests *.py
recursive-include tests *.txt
recursive-include tests *.yml
